@* @model IEnumerable<HRMS.Models.Employee> *@
@model HRMS.ViewModels.EmployeeViewModel

@{
    ViewData["Title"] = "Employees List";
}
<p>
    <a class="btn btn-primary" asp-action="Create"><i class="fa fa-plus"></i>Add New Employee</a>
</p>
<div class="card card-secondary">
    <div class="card-header">
        <h3 class="card-title">Search</h3>
    </div>
    <div class="card-body">
        <div class="col-md-12">
            <form asp-controller="Employees" asp-action="Index" enctype="multipart/form-data" class="form-vertical">

                <div class="row">
                    <div class="col-3">
                        <label asp-for="EmpId" class="control-label"></label>
                        <input asp-for="EmpId" class="form-control" placeholder="Employee No.">
                    </div>
                    <div class="col-3">
                        <label asp-for="FirstName" class="control-label"></label>
                        <input asp-for="FirstName" class="form-control" placeholder="First Name" />
                    </div>
                    <div class="col-3">
                        <label asp-for="PhoneNumber" class="control-label"></label>
                        <input asp-for="PhoneNumber" class="form-control" placeholder="Phone Number" />
                    </div>
                     <div class="col-2 align-self-end">
                        <button type="submit" class="btn btn-success"><i class="fa fa-search"></i> Search</button>
                        <button type="button" class="btn btn-warning"><i class="fa fa-trash"></i> Clear</button>
                    </div>
                </div>
                  
            </form>
        </div>
        <!-- Buttons placed within the same row div as input boxes -->
    </div>
    <!-- /.card-body -->
</div>

<div class="card">
    <div class="card-header">
        <h1 class="card-title">Employees List</h1>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
        <table id="example1" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.EmpId)
                    </th>
                    <th>
                        Employee Name
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PhoneNumber)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.EmailAddress)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ClusterId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DesignationId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.LeaveOutStandingBalance)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.EmployeeStatusId)
                    </th>
                    <th>Edit</th>
                    <th>View</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Employees)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.EmpId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FullName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PhoneNumber)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.EmailAddress)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.Cluster.ClusterName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Designation.Code)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.LeaveOutStandingBalance)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.EmployeeStatus.Description)
                            @* @item.EmployeeStatus.Description *@
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary"><i class="fas fa-pencil-alt"></i>Edit</a>
                        </td>
                        <td>
                            <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-warning"><i class="fa fa-eye"></i>View</a>
                        </td>
                        <td>
                            <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger"><i class="fa fa-trash"></i>Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
