@model IEnumerable<HRMS.Models.LeaveAdjustmentEntry>

@{
    ViewData["Title"] = "Leave Adjustment";
}
<div class="card">
    <div class="card-header">
        <h1 class="card-title">Employees Leave Adjustment List</h1>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
        <table id="example1" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.EmployeeId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.LeavePeriod)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.NoOfDays)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.LeaveAdjustmentDate)
                    </th>
                           <th>
                        @Html.DisplayNameFor(model => model.AdjustmentDescription)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.AdjustmentType)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model) 
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Employee.FullName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.LeavePeriod)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NoOfDays)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.LeaveAdjustmentDate)
                        </td>
                         <td>
                            @Html.DisplayFor(modelItem => item.AdjustmentDescription)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.AdjustmentType.Description)
                        </td>
                        <td>
                            <a asp-action="Details" class="btn btn-warning" asp-route-id="@item.Id"><i class="fa fa-eye"></i>Details</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>